@import './reset';

body {
    font-family: Tahoma, sans-serif;
}

button {
    cursor: pointer;
    padding: 0;

    &:disabled {
        cursor: initial;
    }
}

a {
    color: inherit;
}

@import './components/ui/buttons';
@import './components/ui/notification';

@import './components/player';
