* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    font-family: Tahoma, sans-serif;
    min-height: 100%;
}

button {
    cursor: pointer;
    font-family: inherit;

    &:disabled {
        cursor: initial;
    }
}

a {
    color: inherit;
    opacity: 0.9;

    &:hover, &:focus {
        opacity: 1;
    }
}

@import './components/ui/buttons';
@import './components/ui/notification';

@import './components/player';
